.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-shadow: 0px 16px 16px 4px rgba(0, 0, 0, 0.12);
  border: 0.5px solid #0feffd;
  border-radius: 40px;
  font-size: 1.8rem;
  cursor: pointer;

  &:hover {
    background: rgba(44, 44, 44, 0.3);
  }
}
